:root {
    --color-background: #FDF8D4;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}

nav.navigation {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

a {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    width: auto;
}

.nav-gif {
    height: 80px;
    width: auto;
}

.menu-container, .nav-spacer {
    width: 120px;
}

.menu-checkbox {
    display: none;
}

.menu-button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
    font-size: 50px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    padding: 0;
    height: 70px;
}

.menu-links {
    display: none;
    position: absolute;
    top: 76px;
    left: 12px;
    width: 220px;
    flex-direction: column;
    padding: 8px 0;
    z-index: 10;
    background-color: #232023;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.menu-links a {
    font-family: "Permanent Marker", cursive;
    text-decoration: none;
    color: beige;
    font-size: 20px;
    padding: 14px 24px;
    text-align: left;
    display: block;
}

.menu-links a:hover {
    background-color: #332f33;
}

.menu-links a.active {
    border-left: 5px solid #d65a31;
}

.menu-checkbox:checked ~ .menu-links {
    display: flex;
}

.hero-container {
    width: 100%;
    height: 100vh;
    padding: 85px 20px 20px 20px;
    box-sizing: border-box;
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 35px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    align-self: center;
}

.hero-overlay {
    position: absolute;
    top: 85px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 226, 193, 0.123);
    border-radius: 24px;
    opacity: 0;
    transition: opacity 2s ease;
}

.hero-title {
    font-family: "Permanent Marker", cursive;
    color: #FDF8D4;
    font-size: 60px;
    text-align: center;
    margin: 0;
}

.hero-container:hover .hero-image {
    filter: blur(4px);
}

.hero-container:hover .hero-overlay {
    opacity: 1;
}